<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>

<div th:replace="fragments::menu"/>

<div class="container">

    <div class="jumbotron">
      <div class="container">
        <p>CDT is an open-source, self-hosted devops toolchain which includes a web-based IDE<br/>
            You can create,develop and deploy applications here, without installing any software on your computer.</p>
        <p><a class="btn btn-primary" href="/workspace" role="button">create a workspace &raquo;</a>   <a class="btn btn-primary btn" href="/swagger" target="_blank" role="button">browse our REST API &raquo;</a></p>
      </div>
    </div>

      <div class="row">

        <div class="col-md-6">
        <div class="content-holder">
          <div class="img-div app-image"><img src="img/theia-logo.jpg" width="100"/></div>
          <h3>Theia</h3>
          <p> An open source automation server which enables developers to build, test, and deploy their software </p>
          <p><a class="btn btn-primary" href="/workspace" role="button">My Workspaces &raquo;</a></p>
        </div>
        </div>

        <div class="col-md-6">
        <div class="content-holder">
          <div class="img-div app-image"><img src="img/jenkins-logo.png" width="100"/></div>
          <h3>Jenkins</h3>
          <p> An open source automation server which enables developers to build, test, and deploy their software </p>
          <p><a class="btn btn-primary" th:href="'https://jenkins.'+${baseDomain}" target="_blank" role="button">Open Jenkins &raquo;</a></p>
          <p><a class="btn btn-sm" href="#" role="button">Tutorials &raquo;</a></p>
        </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
        <div class="content-holder">
          <div class="img-div app-image"><img src="img/gitea-logo.png" width="100"/></div>
          <h3>Gitea</h3>
          <p> A painless self-hosted Git service </p>
          <p><a class="btn btn-primary" th:href="'https://gitea.'+${baseDomain}" target="_blank" role="button">Open Gitea &raquo;</a></p>
          <p><a class="btn btn-sm" href="#" role="button">Tutorials &raquo;</a></p>
        </div>
       </div>

        <div class="col-md-6">
        <div class="content-holder">
          <div class="img-div app-image"><img src="img/rocketchat-logo.png" width="100"/></div>
          <h3>Rocket.Chat</h3>
          <p> Rocket.Chat is the leading open source team chat software solution </p>
          <p><a class="btn btn-primary" th:href="'https://rocketchat.'+${baseDomain}" target="_blank" role="button">Open Rocket.Chat &raquo;</a></p>
        </div>
        </div>

      </div>
      <hr/>

      <footer>
        <p>&copy; devopswise 2018</p>
      </footer>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
