<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot example using Thymeleaf</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div class="container">
	Welcome to this very early version of CDTPortal<br/>
	<br/>
	On this page you can find links to apps in your toolchain. <br/>
	<a href="/workspace">Click here</a> to create workspaces based on theia.<br/>
	You can browse our <a href="/swagger">REST API here</a> from Swagger <br/><br/> 
<table>
<tbody>
<tr>
<td style="text-align:center"><img src="https://raw.githubusercontent.com/devopswise/cdt/master/resources/images/jenkins-logo.png" width="80"/></td>
<td style="text-align:center"><img src="https://raw.githubusercontent.com/devopswise/cdt/master/resources/images/gitea-logo.png" width="80"/></td>
<td style="text-align:center"><img src="https://raw.githubusercontent.com/devopswise/cdt/master/resources/images/rocketchat-logo.png" width="80"/></td>
<td style="text-align:center"><img src="https://raw.githubusercontent.com/devopswise/cdt/master/resources/images/grafana-logo.png" width="80"/></td>
<td style="text-align:center"><img src="https://raw.githubusercontent.com/devopswise/cdt/master/resources/images/prometheus-logo.png" width="80"/> </td>
</tr>
<tr>
<td style="text-align:center"><a th:href="'https://jenkins.'+${baseDomain}">Jenkins</a></td>
<td style="text-align:center"><a th:href="'https://gitea.'+${baseDomain}">Gitea</a></td>
<td style="text-align:center"><a th:href="'https://rocketchat.'+${baseDomain}">RocketChat</a></td>
<td style="text-align:center"><a th:href="'https://grafana.'+${baseDomain}">Grafana</a></td>
<td style="text-align:center"><a th:href="'https://prometheus.'+${baseDomain}">Prometheus</a></td>
</tr>
</tbody>
</table>
	</div>

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
