<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>

<div th:replace="fragments::menu"/>

<div class="container">

<form class="form-horizontal" action="#" th:action="@{/workspace}" method="post">
<fieldset>

<br/>
<p class="text-center">Enter your username and git url of project then click Start Workspace</p>

<br/>
<!-- Text input-->
<input id="owner" name="owner" type="hidden" th:value="${username}" placeholder="username" class="form-control input-md" required="" />

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="git_url">Git URL</label>
  <div class="col-md-6">
  <input id="git_url" name="git_url" type="text" placeholder="https://github.com/devopswise/cdtportal.git"
   class="form-control input-md" required="" />

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="start_workspace"></label>
  <div class="col-md-4">
    <button id="start_workspace" name="start_workspace" class="btn btn-primary">Start Workspace</button>
  </div>
</div>

</fieldset>
</form>

		<div class="starter-template">
			<h2>
				<span th:text="${message}"></span>
			</h2>
		</div>
	</div>
	<div class="container">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Git Url</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        <tr th:each="workspace : ${workspaces}">
            <td><a th:href="'https://theia-'+${workspace.name}+'.'+${workspace.name}"
                               th:text="'theia-'+${workspace.name}" target="_blank"/></td>
            <td th:text="${workspace.owner}"/>
            <td><a th:href="${workspace.gitUrl}" th:text="${workspace.gitUrl}" target="_blank"/></td>
            <td>
              <form th:action="@{deleteWorkspace}" method="post">
                  <input type="hidden" name="id" th:value="${workspace.id}" />
                  <input type="submit" value="Delete" class="btn btn-danger" />
              </form>
            </td>
        </tr>
  </tbody>
</table>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
